body {
/*    background-image: -webkit-linear-gradient(200deg,rgb(218, 57, 4),#801a3e,#410047);
    background-image: -o-linear-gradient(200deg,rgb(218, 57, 4),#801a3e,#410047);
    background-image: linear-gradient(200deg,rgb(218, 57, 4),#801a3e,#410047);*/
    background-image: url(../imgs/Background.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100%;
    font-family: 'Nunito', sans-serif !important;
}
html {
   min-height: 100%; 
   font-family: 'Nunito', sans-serif !important;
} 

.bd-masthead {
	background-image: none;
	color: rgba(255,255,255,0.65);
	text-align: center;
	padding-top: 3rem;
}

.bd-masthead .btn {
	width: 100%;
    white-space: normal;
}

@media (min-width: 576px) {
	.bd-masthead .btn {
	    width: auto;
	}
}

.btn-group {
	width: 100%;
}

@media (min-width: 430px) {
	.bd-masthead .btn {
		white-space: nowrap;
	}

	.btn-group {
		width: auto;
	}	
	
}



#subscribe {
	color: rgba(255, 172, 194, 0.85);
    border-color: rgba(255, 172, 194, 0.58);
	padding: 1rem 2rem;
	font-family: 'Nunito', sans-serif !important;
	font-size: 1.25rem;
    font-weight: 500;
    border-radius: 0.4rem;
}

#subscribe:hover {
    box-shadow: 0 2px 100px rgba(0,0,0,0.30);
    background-color: rgba(81, 49, 124, 0.36);
}

#subscribe_content {
	/*background-color: #51317c;*/
	background-color: rgba(81, 49, 124, 0.36);
	border-width: 2px;
	border-radius: .7rem;
	border: solid rgba(255, 172, 194, 0.58);
	text-align: left;
	box-shadow: 0 2px 100px rgba(0,0,0,0.30);
}

.lead {
	font-family: 'Nunito', sans-serif !important;
	font-weight: 800;
	letter-spacing: 0.25rem;
    font-size: x-large;
    color: white;
}


body {
	font-family: 'Nunito', sans-serif !important;
	color: white;
}

.text-muted {
    color: rgba(255, 255, 255, 0.47)!important;
}

.step {
    width: 100%;
}

#logo {
	width: 10rem;
}

@media (min-width: 576px){
	.step {
		width: 30rem;
	}
}

.bd-masthead .btn {
	border: 2px solid transparent;
}

.close {
	font-size: 2rem;
	margin-right: 0.5rem;
	font-family: unset;
	text-shadow: none;
	font-weight: bold;
}

.form-control {
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.34);
    border: 1px solid rgba(84, 19, 116, 0.47);
}

.input-group-text {
    color: #541374;
    background-color: rgba(255, 255, 255, 0.66);
    border: 1px solid rgba(84, 19, 116, 0.92);
}

.btn-primary {
    color: rgb(106, 72, 100);
    background-color: rgba(255, 255, 255, 0.75);
    border-color: rgba(255, 255, 255,0);
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.44);
    border-color: rgba(255,255,255,0);
}

.btn-group .btn+.btn, .btn-group .btn+.btn-group, .btn-group .btn-group+.btn, .btn-group .btn-group+.btn-group, .btn-group-vertical .btn+.btn, .btn-group-vertical .btn+.btn-group, .btn-group-vertical .btn-group+.btn, .btn-group-vertical .btn-group+.btn-group {
     margin-left: 0px; 
}

.btn-group .btn:hover {
    background-color: white;
    border-color: rgba(255,255,255,0);
    color: black;
}

.btn-success {
    color: rgba(255,255,255,0.85);
    background-color: rgba(40, 167, 69, 0.75);
}

label {
	display: block;
}

@media (min-width: 1200px)
{
	.container {
	    max-width: 40rem;
	}

}

.input-group-text {
	display: inline;
	width: 3rem;
	margin-right: -1px;
}

@media (min-width: 992)
{
	.container {
	    max-width: 40rem;
	}

}


@media (min-width: 768px)
{
	.container {
	    max-width: 40rem;
	}

}

.form-group {
    margin-bottom: 1.5rem;
}