body {
/*    background-image: -webkit-linear-gradient(200deg,rgb(218, 57, 4),#801a3e,#410047);
    background-image: -o-linear-gradient(200deg,rgb(218, 57, 4),#801a3e,#410047);
    background-image: linear-gradient(200deg,rgb(218, 57, 4),#801a3e,#410047);*/
    background-image: url(../imgs/Background.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100%;
}

.bd-masthead {
	background-image: none;
}

#subscribe {
	color: rgba(255, 172, 194, 0.85);;
    border-color: rgba(255, 172, 194, 0.58);;
	font-family: 'Nunito', sans-serif !important;
}

#subscribe:hover {
    background-color: #51317c; /* Green */
    /*color: white;*/
}

.lead {
	font-family: 'Nunito', sans-serif !important;
	font-weight: 800;
	letter-spacing: 0.25rem;
}

body {
	font-family: 'Nunito', sans-serif !important;
	color: white;
}

.text-muted {
    color: rgba(255, 255, 255, 0.47)!important;
}

.step {
    width: 100%;
}

#logo {
	width: 10rem;
}

@media (min-width: 576px){
	.step {
		width: 30rem;
	}
}

.btn {
	white-space: normal;
	border: 2px solid transparent;
}

.close {
	font-size: 2rem;
	margin-right: 0.5rem;
	font-family: unset;
	text-shadow: none;
	font-weight: bold;
}

.form-control {
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.34);
    border: 1px solid rgba(84, 19, 116, 0.47);
}

.input-group-text {
    color: #541374;
    background-color: rgba(255, 255, 255, 0.66);
    border: 1px solid rgba(84, 19, 116, 0.92);
}

.btn-primary {
    color: rgba(0, 0, 0, 0.68);
    background-color: rgba(255, 255, 255, 0.75);
    border-color: rgba(255, 255, 255,0);
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.44);
    border-color: rgba(255,255,255,0);
}

.btn-group .btn+.btn, .btn-group .btn+.btn-group, .btn-group .btn-group+.btn, .btn-group .btn-group+.btn-group, .btn-group-vertical .btn+.btn, .btn-group-vertical .btn+.btn-group, .btn-group-vertical .btn-group+.btn, .btn-group-vertical .btn-group+.btn-group {
     margin-left: 0px; 
}

.btn:hover {
    background-color: white;
    border-color: white;
    color: black;
}

.container {
	padding: 1.2rem;
}