body {
/*    background-image: -webkit-linear-gradient(200deg,rgb(218, 57, 4),#801a3e,#410047);
    background-image: -o-linear-gradient(200deg,rgb(218, 57, 4),#801a3e,#410047);
    background-image: linear-gradient(200deg,rgb(218, 57, 4),#801a3e,#410047);*/
    background-image: url(../imgs/Background.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100%;
}

.bd-masthead {
	background-image: none;
}

#subscribe {
	color: rgba(255, 172, 194, 0.85);;
    border-color: rgba(255, 172, 194, 0.58);;
	font-family: 'Nunito', sans-serif !important;
}

#subscribe:hover {
    background-color: #51317c; /* Green */
    /*color: white;*/
}

.lead {
	font-family: 'Nunito', sans-serif !important;
	font-weight: 800;
	letter-spacing: 0.25rem;
}

body {
	font-family: 'Nunito', sans-serif !important;
}


.step {
    width: 100%;
}

#logo {
	width: 10rem;
}

@media (min-width: 576px){
	.step {
		width: 30rem;
	}
}

.btn {
	white-space: normal;
}